.products {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  @media (max-width: 1165px) {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 60px;
  }
  @media (max-width: 800px) {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 60px;
  }
}

.product_wrapper {
  display: flex;
  justify-content: center;
}
