.footer {
  height: 150px;
}
.footer_wrapper {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  height: 100%;
  background-color: #fff;
  color: #000;
  border-radius: 30px 30px 0 0;
  padding: 30px;

  .logo {
    font-size: 25px;
    font-weight: 700;
    color: #101010;
    cursor: pointer;
    @media (max-width: 678px) {
      font-size: 20px;
    }
  }

  .navigation {
    ul {
      li {
        font-weight: 400;
        padding-bottom: 10px;
        cursor: pointer;
        @media (max-width: 678px) {
          font-size: 14px;
        }
      }
    }
  }
  .options {
    a {
      font-weight: 400;
      @media (max-width: 678px) {
        font-size: 14px;
      }
    }
    .language {
      display: flex;
      gap: 17px;
      margin-top: 34px;
      p {
        cursor: pointer;
        font-size: 15px;
        font-weight: 500;
        @media (max-width: 678px) {
          font-size: 12px;
        }
      }
      .active {
        font-weight: 700;
        color: #ffa542;
      }
    }
  }
  .social_networks {
    ul {
      display: flex;
      align-items: center;
      gap: 18px;
      @media (max-width: 678px) {
        flex-direction: column;
        gap: 10px;
      }
      img {
        @media (max-width: 678px) {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}
